@import "./utils/variables";
@import "./utils/mixins";

/*@import "./utils/functions";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/


/* Initialization reset*/
*{
    margin:0;
    padding:0;
}
/* Initialisation box-sizing */
*{
  box-sizing: border-box;
}

/**** BODY ***/
body{
    font-family: 'Roboto', sans-serif;
    @include screenLarge{
        max-width:1920px;
        margin:auto;
    }
}
// a{
//     display:flex;
// }



/**** HEADER ***/
.header{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-bg-header;

    @include desktop{
        flex-direction: row;
    }

    &__img{
        width:100%;
        background-color: $color-white;
        box-shadow:  0px 0px 10px 0px $color-shadow;
        z-index:1;
        display:flex;
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
        & > a > img{
            width:100%;
            max-width:168px;
            min-width:auto;
        }
        @include desktop{
            flex:1;
        }
    }
    &__location{
        width:100%;
        padding: 15px 10px;
        display:flex;
        flex-direction: column;
        align-items: center;
        @include desktop{
            flex:3;
            flex-direction:row;
            justify-content: end;
        }
    }

}

.form{
    width:100%;
    max-width:168px;
    min-width:none;
    display:flex;
    flex-direction:row;
        
    &__field{
        border: none;
        background-color: transparent;
        font-weight: 500;
        padding-left:15px;

        &::placeholder {
            color: black;
            opacity: 1;
        }
    }   
}
/**** SECTION 1 : "RÉSERVATION" ***/
.reserve{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px 40px;
    text-align: center;
    background-color:$color-bg-light;

    &__byline{
        font-weight: lighter;
        font-size:18px;
    }

    &__button{
        padding:20px 0;
    }
}

.btn-main{
    padding:15px 20px;
    font-weight:400;
    border-radius: 30px;
    border:none;
    color:$color-white;
    background: linear-gradient( $color-secondary, $color-primary);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

/**** SECTION 2 : "FONCTIONNEMENT" ***/
.menu{
    display: flex;
    flex-direction: column;
    padding:40px 20px;
    @include tablette{
        align-items: center;
    }
}
.nav{
    display: flex;
    flex-direction: column;
    padding:20px 0px;
    &__link{
        list-style: none;
    }
    &__btn{
        display: flex;
        flex-direction: row;
        align-items:center;
        width:100%;
        max-width:360px;
        border:none;
        border-radius:21px;
        padding:25px;
        margin-bottom:20px;
        font-weight: 500;
        color:black;
        background-color:$color-bg-light;
        box-shadow: 0px 3px 5px rgba(0, 0, 0,0.15);
        &::before{
            font-size:0.9em;
            font-weight:400;
            position:relative;
            right:35px;
            padding:3px 7px;
            border-radius:50%;
            background-color:$color-primary;
            color:$color-white;
        }
        &--number1::before{
            content:"1";
        }
        &--number2::before{
            content:"2";
        }
        &--number3::before{
            content:"3";
        }
    }
    &__icon{
        width:50px;
        display:flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        > i{
            color:$color-bg-icon;
        }
    }
}

/**** SECTION 3 : "RESTAURANTS" ***/

.restaurant{
    display:flex;
    flex-direction: column;
    padding:40px 20px;
    background-color:$color-bg-light;
    &__container{
        display: flex;
        flex-direction: column;
        padding:12px 0;
    }
}
.card{
    display:flex;
    flex-direction: column;
    border-radius: 17px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0,0.15);
    margin:13px 0;
    &__img{
        display:flex;
        flex-direction: column; 
        & > img{
            width:100%;
            object-fit: cover;
            border-radius: 17px 17px 0 0;
        }
    }
    &__label{
        position:absolute;
        left: 249px;
        bottom: -153px;
        padding:8px 13px;
        border-radius:2px;
        color:$color-third-dark;
        background-color: $color-third;
        font-weight: bold;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding:15px 17px;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > i{
            font-size: 1.5rem;
            margin: 5px;
        }
    }
}