@charset "UTF-8";
/***COLORS****/
/***HOVER CURSOR****/
/*** CONTENT ***/
/*** MEDIA QUERIES***/
/*** MIXIN FLEX***/
/*** MIXIN MEDIA QUERIES***/
/*** MIXIN BOX-SAHDOW***/
/*@import "./utils/extensions";*/
/* Initialization reset*/
* {
  margin: 0;
  padding: 0;
}

/* Initialisation box-sizing */
* {
  box-sizing: border-box;
}

/**** BODY ***/
body {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1200px) {
  body {
    max-width: 1920px;
    margin: auto !important;
  }
}

/**** GLOBAL ***/
a {
  text-decoration: none;
  color: black;
}

ul {
  margin: 0;
  padding: 0;
}

/*@import "./base/typography";*/
/**** SECTION 1 : "RÉSERVATION" ***/
.btn__main {
  padding: 15px 20px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}
.btn__main--padding {
  padding: 15px 45px;
}
.btn__main:hover {
  background: linear-gradient(#ff83dd, #985ede);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.7);
  cursor: pointer;
}

/**** HEADERS ***/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEA;
}
@media (min-width: 992px) {
  .header {
    flex-direction: row;
  }
}
.header__img {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px 5px 10px;
}
.header__img > a > img {
  width: 100%;
  max-width: 168px;
}
@media (min-width: 992px) {
  .header__img {
    flex: 1;
  }
}
.header__img--icon {
  flex-direction: row;
  justify-content: center;
}
.header__img--icon > a {
  flex: 80%;
}
@media (min-width: 992px) {
  .header__img--icon > a {
    flex: none;
  }
}
.header__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f060";
  position: relative;
  right: 78px;
}
.header__location {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .header__location {
    flex: 3;
    flex-direction: row;
    justify-content: end;
  }
}

/**** HEADER ***/
.form {
  width: 100%;
  max-width: 168px;
  display: flex;
  flex-direction: row;
}
@media (min-width: 992px) {
  .form {
    max-width: none;
    justify-content: end;
  }
}
.form__field {
  border: none;
  background-color: transparent;
  font-weight: 500;
  padding-left: 15px;
}
.form__field::placeholder {
  color: black;
  opacity: 1;
}

/**** SECTION 2 : "FONCTIONNEMENT" ***/
.nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.nav__link {
  list-style: none;
}
.nav__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 360px;
  border: none;
  border-radius: 21px;
  padding: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  color: black;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}
.nav__btn::before {
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
  right: 35px;
  padding: 3px 7px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.nav__btn--number1::before {
  content: "1";
}
.nav__btn--number2::before {
  content: "2";
}
.nav__btn--number3::before {
  content: "3";
}
.nav__btn:hover {
  background-color: rgba(147, 86, 220, 0.13);
  cursor: pointer;
}
.nav__icon {
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav__icon > i {
  color: #7E7E7E;
}

/**** SECTION 3 : "RESTAURANTS" ***/
.card {
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  margin: 13px 0;
}
@media (min-width: 768px) {
  .card {
    flex: 33%;
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .card {
    flex: 10%;
    margin: 10px;
  }
}
.card:hover {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}
.card__img {
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__img > img {
  width: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0 0;
  max-height: 177px;
  object-position: 50% 65%;
}
@media (min-width: 768px) {
  .card__img > img {
    height: 177px;
  }
}
@media (min-width: 992px) {
  .card__img > img {
    height: 150px;
  }
}
.card__label {
  position: absolute;
  left: 335px;
  top: 15px;
  padding: 8px 13px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-weight: bold;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 17px;
}
.card__content--dish {
  margin: 10px 0;
  padding: 12px;
  border-radius: 13px;
  background-color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .card__content--dish {
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .card__content--dish {
    margin-right: unset;
  }
}
.card__body {
  display: flex;
  flex-direction: column;
}
.card__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__icon > i {
  font-size: 1.5rem;
  margin: 5px;
}
.card__text--dish {
  padding-top: 5px;
  font-weight: 300;
}
.card__price {
  align-self: end;
  padding: 0 5px 0 5px;
}
.card__price--dish {
  font-weight: bold;
}

.container-restaurant {
  display: flex;
  flex-direction: column;
}
.container-restaurant__img > img {
  width: 100%;
  max-height: 282px;
  object-fit: cover;
}
.container-restaurant__section {
  margin-top: -50px;
  padding: 15px 20px 65px 20px;
  border-radius: 39px 39px 0 0;
  background-color: #f6f6f6;
}
@media (min-width: 992px) {
  .container-restaurant__section {
    max-width: 993px;
    margin: auto;
    margin-top: -50px;
    padding: 20px 35px 65px 35px;
  }
}
@media (min-width: 1200px) {
  .container-restaurant__section {
    max-width: 1200px;
  }
}
.container-restaurant__heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.container-restaurant__title {
  font-family: "Shrikhand";
}
.container-restaurant__icon {
  font-size: 1.5rem;
  padding-right: 20px;
}

.menus {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}
@media (min-width: 1200px) {
  .menus {
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
  }
}
.menus__dish {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
@media (min-width: 1200px) {
  .menus__dish {
    margin-right: 20px;
  }
}
@media (min-width: 1200px) {
  .menus__dish:nth-child(3) {
    margin-right: unset;
  }
}
.menus__heading {
  position: relative;
  font-weight: 300;
  font-size: 16px;
}
.menus__heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 23px;
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
}
.menus__cards {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
@media (min-width: 768px) {
  .menus__cards {
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .menus__cards {
    flex-direction: column;
    justify-content: unset;
    flex-wrap: nowrap;
  }
}
.menus__button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/**** SECTION 4 : FOOTER ***/
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 10px 20px;
}
@media (min-width: 768px) {
  .footer {
    padding: 20px;
  }
}
@media (min-width: 992px) {
  .footer {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
  }
}
.footer__title {
  padding: 12px 0;
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 20px;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
@media (min-width: 768px) {
  .footer__ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 992px) {
  .footer__ul {
    flex-direction: row;
    justify-content: space-between;
  }
}
.footer__link {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
@media (min-width: 992px) {
  .footer__link {
    padding-left: 20px;
  }
}
.footer__link a {
  color: white;
}
.footer__icon {
  font-size: 0.8rem;
  padding-right: 8px;
}

/*@import "./layouts/container";*/
/**** SECTION 1 : "RÉSERVATION" ***/
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  text-align: center;
  background-color: #f6f6f6;
}
.reserve__byline {
  font-weight: lighter;
  font-size: 18px;
}
.reserve__button {
  padding: 20px 0;
}

/**** SECTION 2 : "FONCTIONNEMENT" ***/
.menu {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .menu {
    align-items: center;
  }
}

/**** SECTION 3 : "RESTAURANTS" ***/
.restaurant {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #f6f6f6;
}
@media (min-width: 992px) {
  .restaurant {
    padding: 50px 40px;
  }
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
@media (min-width: 768px) {
  .restaurant__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/*# sourceMappingURL=style.css.map */
