@charset "UTF-8";
/***COLORS****/
/*** CONTENT ***/
/*** MEDIA QUERIES***/
/*** MIXIN FLEX***/
/*** MIXIN MEDIA QUERIES***/
/*** MIXIN BOX-SAHDOW***/
/*@import "./utils/functions";
@import "./utils/extensions";
@import "./base/base";
@import "./base/typography";
@import "./components/buttons";
@import "./layouts/header";
@import "./layouts/nav";
@import "./layouts/container";
@import "./layouts/form";
@import "./pages/work";
@import "./pages/about";
@import "./pages/project";*/
/* Initialization reset*/
* {
  margin: 0;
  padding: 0;
}

/* Initialisation box-sizing */
* {
  box-sizing: border-box;
}

/**** BODY ***/
body {
  font-family: "Roboto", sans-serif;
}
@media (min-width: 1200px) {
  body {
    max-width: 1920px;
    margin: auto;
  }
}

/**** GLOBAL ***/
a {
  text-decoration: none;
  color: white;
}

/**** HEADER ***/
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EAEAEA;
}
@media (min-width: 992px) {
  .header {
    flex-direction: row;
  }
}
.header__img {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
}
.header__img > a > img {
  width: 100%;
  max-width: 168px;
  min-width: auto;
}
@media (min-width: 992px) {
  .header__img {
    flex: 1;
  }
}
.header__location {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .header__location {
    flex: 3;
    flex-direction: row;
    justify-content: end;
  }
}

.form {
  width: 100%;
  max-width: 168px;
  min-width: none;
  display: flex;
  flex-direction: row;
}
.form__field {
  border: none;
  background-color: transparent;
  font-weight: 500;
  padding-left: 15px;
}
.form__field::placeholder {
  color: black;
  opacity: 1;
}

/**** SECTION 1 : "RÉSERVATION" ***/
.reserve {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 40px;
  text-align: center;
  background-color: #f6f6f6;
}
.reserve__byline {
  font-weight: lighter;
  font-size: 18px;
}
.reserve__button {
  padding: 20px 0;
}

.btn-main {
  padding: 15px 20px;
  font-weight: 400;
  border-radius: 30px;
  border: none;
  color: white;
  background: linear-gradient(#FF79DA, #9356DC);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

/**** SECTION 2 : "FONCTIONNEMENT" ***/
.menu {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
}
@media (min-width: 768px) {
  .menu {
    align-items: center;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}
.nav__link {
  list-style: none;
}
.nav__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 360px;
  border: none;
  border-radius: 21px;
  padding: 25px;
  margin-bottom: 20px;
  font-weight: 500;
  color: black;
  background-color: #f6f6f6;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
}
.nav__btn::before {
  font-size: 0.9em;
  font-weight: 400;
  position: relative;
  right: 35px;
  padding: 3px 7px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
}
.nav__btn--number1::before {
  content: "1";
}
.nav__btn--number2::before {
  content: "2";
}
.nav__btn--number3::before {
  content: "3";
}
.nav__icon {
  width: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.nav__icon > i {
  color: #7E7E7E;
}

/**** SECTION 3 : "RESTAURANTS" ***/
.restaurant {
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  background-color: #f6f6f6;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
  padding: 12px 0;
}
@media (min-width: 768px) {
  .restaurant__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 17px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
  margin: 13px 0;
}
@media (min-width: 768px) {
  .card {
    flex: 33%;
    margin: 10px;
  }
}
@media (min-width: 992px) {
  .card {
    flex: 15%;
    margin: 15px;
  }
}
.card__img {
  display: flex;
  flex-direction: column;
}
.card__img > img {
  width: 100%;
  object-fit: cover;
  border-radius: 17px 17px 0 0;
  max-height: 177px;
  object-position: 50% 65%;
}
@media (min-width: 768px) {
  .card__img > img {
    height: 177px;
  }
}
.card__label {
  position: absolute;
  left: 249px;
  bottom: -153px;
  padding: 8px 13px;
  border-radius: 2px;
  color: #008766;
  background-color: #99E2D0;
  font-weight: bold;
}
.card__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 17px;
}
.card__body {
  display: flex;
  flex-direction: column;
}
.card__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__icon > i {
  font-size: 1.5rem;
  margin: 5px;
}

/**** SECTION 4 : FOOTER ***/
.footer {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: #353535;
  padding: 10px 20px;
}
.footer__title {
  padding: 12px 0;
  font-family: "Shrikhand";
  font-weight: normal;
  font-size: 20px;
}
.footer__ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.footer__link {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}
.footer__icon {
  font-size: 0.8rem;
  padding-right: 8px;
}

/*# sourceMappingURL=style.css.map */
