/** ----------------------------------------
* Animation Loader Spinner
* ----------------------------------------
*/
@keyframes loader{
  100%{
    opacity: 0;
    z-index:-10;
  }
}
@keyframes spinner-zp9dbg {
  100% {
    transform: rotate(2turn);
  }
}
/** ----------------------------------------
* Animation Hearth
* ----------------------------------------
*/
@keyframes hearth-stroke-change{
  0%{
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80%{
    background: black;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  100%{
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
@keyframes hearth-bg-change{
  0% {
    background-position:50% -40%;
  }
  100% {
    background-position:50% 0%;
  }
}
/** ----------------------------------------
* Animation "PLATS" : animation fade-in-bottom
* ----------------------------------------
*/
@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  75% {
    transform: translateY(0);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/** ----------------------------------------
* Animation Validation
* ----------------------------------------
*/
@keyframes rotate360 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}