/*** MIXIN FLEX***/
@mixin flexColumn{
    display:flex;
    flex-direction: column;
}
@mixin flexRow{
    display:flex;
    flex-direction: row;
}
/*** MIXIN MEDIA QUERIES***/
@mixin desktop {
    @media (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}
@mixin tablette {
    @media (min-width: map-get($breakpoints, tablette)){
        @content;
    }
}
@mixin screenLarge {
    @media (min-width: map-get($breakpoints, xlarge)){
        @content;
    }
}