/**** SECTION 3 : "RESTAURANTS" ***/
.card{
    display:flex;
    flex-direction: column;
    border-radius: 17px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0,0.15);
    margin:13px 0;
    @include tablette{
        flex:33%;
        margin:10px;
    }
    @include desktop{
        flex:10%;
        margin:10px;
    }
    &__img{
        display:flex;
        flex-direction: column; 
        & > img{
            width:100%;
            object-fit: cover;
            border-radius: 17px 17px 0 0;
            max-height:177px;
            object-position: 50% 65%;
            @include tablette{
                height:177px;
            }
            @include desktop{
                height:150px;
            }
        }
    }
    &__label{
        position:absolute;
        margin:10px;
        // left: 249px;
        // bottom: -153px;
        padding:8px 13px;
        width:auto;
        height:auto;
        border-radius:2px;
        color:$color-third-dark;
        background-color: $color-third;
        font-weight: bold;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding:15px 17px;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > i{
            font-size: 1.5rem;
            margin: 5px;
        }
    }
}