/**** SECTION 3 : "RESTAURANTS" ***/
.card{
    display:flex;
    flex-direction: column;
    border-radius: 17px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0,0.15);
    margin:13px 0;
    background-color: $color-white;
    &:hover{
        box-shadow: 0px 3px 5px rgba(0, 0, 0,0.5);
    }
    &--restaurant{
        @include tablette{
            flex:33%;
            margin:10px;
        }
        @include desktop{
            flex:10%;
            margin:10px;
        }
    }
    &--dish{
        @include tablette{
            margin-right: 15px;
        }
        @include screenLarge{
            margin-right: unset;
        }
    }    
    &__img{
        display:flex;
        flex-direction: column; 
        position:relative;
        & > img{
            width:100%;
            object-fit: cover;
            border-radius: 17px 17px 0 0;
            max-height:177px;
            object-position: 50% 65%;
            @include tablette{
                height:177px;
            }
            @include desktop{
                height:150px;
            }
        }
    }
    &__label{
        position:absolute;
        right: 12px;
        top: 15px;
        padding:8px 13px;
        border-radius:2px;
        color:$color-third-dark;
        background-color: $color-third;
        font-weight: bold;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        padding:15px 17px;
    }
    &__body{
        display: flex;
        flex-direction: column;
    }
    &__icon{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        > i{
            font-size: 1.5rem;
            margin: 5px;
            // &:hover{
            //     background: linear-gradient( $color-secondary, $color-primary);  
            // }
        }
    }
    &__text--dish{
        padding-top:5px;
        font-weight:300;
    }
    &__price{
        align-self: end;
        padding: 0 5px 0 5px;
        &--dish{
            font-weight: bold;
        }
    }
}