/**** SECTION 3 : "RESTAURANTS" ***/
.card{
    display:flex;
    flex-direction: column;
    border-radius: 17px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0,0.15);
    margin:13px 0;
    background-color: $color-white;
    &:hover{
        box-shadow: 0px 3px 5px rgba(0, 0, 0,0.5);
    }
    &--restaurant{
        @include tablette{
            flex:33%;
            margin:10px;
        }
        @include desktop{
            flex:42%;
            margin:10px;
        }
        @include screenLarge{
            flex:10%;
            margin:10px;
        }
    }
    &--dish{
        @include tablette{
            margin-right: 13px;
            width:350px;
        }
        @include screenLarge{
            margin-right: unset;
        }
        &:hover , &:active{
            & .card__hidden{
                width: 75px;
                & > i{
                    animation:rotate360 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                }
            }
        }
    }    
    &__img{
        display:flex;
        flex-direction: column; 
        position:relative;
        & > img{
            width:100%;
            object-fit: cover;
            border-radius: 17px 17px 0 0;
            max-height:177px;
            object-position: 50% 65%;
            @include tablette{
                height:177px;
            }
            @include desktop{
                height:150px;
            }
        }
    }
    &__label{
        position:absolute;
        right: 12px;
        top: 15px;
        padding:8px 13px;
        border-radius:2px;
        color:$color-third-dark;
        background-color: $color-third;
        font-weight: bold;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:center;
        border-radius: 0 17px 17px 0;
        overflow: hidden;
    }
    &__body{
        display: flex;
        flex-direction: column;
        padding:15px 17px;
        flex:88%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__icon{
        @include flexColumnCenter;
        position:relative;
        margin: 17px;
        > i{
            font-size: 1.5rem;
        }
        & .one{
            color:transparent;
        }
        & .two{
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            overflow:hidden;
        }
        &:hover , &:active{
            .one{
                font-weight: bold;
                background:linear-gradient(90deg, #FF79DA, #9356DC);
                background-size: 100% 200px;
                background-repeat: no-repeat;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                animation: hearth-bg-change 1s ease-in-out both;
            }
            .two{
                animation: hearth-stroke-change 1s ease-in-out both;
            }
        }
    }
    &__title--dish{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1rem;
        @include tablette{
            font-size: 1.1rem;
        }
    }
    &__text--dish{
        padding-top:5px;
        font-weight:300;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__price{
        align-self: end;
        padding: 15px 17px 15px 5px;
        white-space: nowrap;
        flex:12%;
        &--dish{
            font-weight: bold;
        }
    }
    &__hidden{
        width:0;
        height:75px;
        @include flexColumnCenter;
        background:$color-third;
        overflow: hidden;
        white-space: nowrap;
        transition:width 0.3s ease-in-out;
        & > i{
            font-size: 1.2rem;
            color: white;
        }
    }
}