.container{
    display:flex;
    flex-direction: column;
    &--all-restaurant{
        padding:40px 20px;
        background-color:$color-bg-light;
        @include desktop{
            padding: 50px 40px;
        }
    }
    &__img{
        & > img{
            width: 100%;
            max-height:282px;
            object-fit: cover;
        }
    }
    &__main{
        display:flex;
        flex-direction: column;
        &--position{
            margin-top: -50px;
            padding: 15px 20px 65px 20px;
            border-radius: 39px 39px 0 0;
            background-color: $color-bg-light;
            @include desktop{
                max-width:993px;
                margin:auto;
                margin-top: -50px;
                padding: 20px 35px 65px 35px;
            }
            @include screenLarge{
                max-width:1200px;
            }
        }
    }
    &__heading{
        @include flexRowCenter;
        justify-content: space-between;
        & > h1{
            font-family: "Shrikhand";
            font-size:1.7rem;
            font-weight: 500;
        }
        @include tablette{
            & > h1{
                font-size:1.8rem;
            }
        }
    }
    &__icon{
        @include flexColumnCenter;
        padding-right: 20px;
        position:relative;
        & > i{
            font-size:1.9rem;
            text-align:center;
        }
        & .one{
            color:transparent;
        }
        & .two{
            position:absolute;
            top:50%;
            left:50%;
            padding-right: 20px;
            transform: translate(-50%,-50%);
            overflow:hidden;
        }
        &:hover , &:active{
            .one{
                font-weight: bold;
                background:linear-gradient(90deg, #FF79DA, #9356DC);
                background-size: 100% 200px;
                background-repeat: no-repeat;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                animation: hearth-bg-change 1s ease-in-out both;
            }
            .two{
                animation: hearth-stroke-change 1s ease-in-out both;
            }
        }
    }
    &__list{
        display:flex;
        flex-direction: column;
        padding:10px 0;
        @include screenLarge{
            flex-direction: row;
            justify-content: space-between;
            padding: 40px 0;
        }
    }
    &__menu{
        display:flex;
        flex-direction: column;
        margin-bottom: 20px;      
        @include screenLarge{
            margin-right: 20px;
            &:nth-child(3) {
                    margin-right: unset;
            }
        }
        &-title{
            position:relative;
            font-weight: 300; 
            font-size:16px;
            &::after{
                content: "";
                position: absolute;
                left: 0;
                top: 23px;
                width: 40px;
                height: 3px;
                background-color: $color-third;
            }
        }
    }
    &__card{
        display: flex;
        flex-direction: column;
        padding:12px 0;
        @include tablette{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        &--menu{
            margin: 10px 0;
            animation: fade-in-bottom 2s ease-in-out both;
            @for $i from 1 through $nb-menus {
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                 }
            }
            @include tablette{
                flex-direction: row;
                justify-content: start;
                flex-wrap: wrap;
            }
            @include screenLarge{
                flex-direction: column;
                justify-content: unset;
                flex-wrap: nowrap;
            }  
        }
    }
    &__button{
        @include flexColumnCenter;
    }
}